@use '../../sass';

.homePage{
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
}
.homePage2{
  position: relative;
  top: 10vh;

}
.openingLogo{
  @include sass.flexCenterRelative(column);
  height: 450px;
  @include sass.backgroundImage('https://cdn.pixabay.com/photo/2016/11/29/08/02/furniture-1868274__340.jpg', 120vw 450px);
  background-position: center;
  opacity: .7;
}
.h1{
  font-family: sass.$font;
  font-size: 37px;
  font-weight: 600;
  color: sass.$darkBlue;
  opacity: 1;
}


.whatWeDo{
  @include sass.flexCenterRelative(column);
  height: auto;
}
.whatWeDoTitle{
  @include sass.flexCenterRelative(row);
  @include sass.title;
  background-color: sass.$orange;
  box-shadow: sass.$boxShadow;
  z-index: 1;
  opacity: .85;
}
.filler{
  @include sass.flexCenterRelative(column);
  justify-content: space-around;
  height: auto;
  width: 100vw;
}
.whatWeDoImage{
  width: 100vw;
  height: auto;
}
.homeImage{
  height: 530px;
  @include sass.backgroundImage('https://previews.dropbox.com/p/thumb/ABIdOG5sEfEilBYLtXzpMBSHseRL33kEiYhVLaEh9WJvXx1s6JhNpPyvoJX0_NpPGHo2xPRqZ4nbwMeeeRnnI3RG8NIgE4018BXDo9Gq1VpH-qdI7DP2EaF621Qb_VKCUbnG2AU6Z59eR7HXqLIWh_ZCa_TscTLv3yYz3yJ2eh1DTactmsjgpz7oyBIyCI3WoXm44ARj_Nwi_eDR0-YMM-iMh5gvWleJGUD1PAtI9QVIx3T5_zcpmcP05pF58BNYLWC2Bw6ajhT157eyWLj04fC4duHokZCJkMA1fe7DguMzo5lWoeWt9Kpw2jujB4p7PKNaIOjtwV7WNwwK_aa4wrMp_KWjvKYziCjfQdfc92yH4A/p.jpeg?fv_content=true&size_mode=5', 100vw auto);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.allButton{
  @include sass.button(20px);
  height: 35px;
  margin: 15px;
  font-weight: 200;
}
.whatWeDoText{
  @include sass.flexCenterRelative(column);
}
.h3Text{
  @include sass.pTexts;
  text-align: center;
}
.h3TextA{
  @include sass.pTexts;
  text-align: center;
}


.aboutUs{
  @include sass.flexCenterRelative(column);
  height: auto;
}
.aboutUsTitle{
  @include sass.flexCenterRelative(column);
  @include sass.title;
  background-color: sass.$blue;
  box-shadow: sass.$boxShadow;
  z-index: 1;
  opacity: .85;
}
.aboutUsImage{
  width: 100vw;
  height: auto;
}
.AUImage{
  height: 560px;
  @include sass.backgroundImage('https://previews.dropbox.com/p/thumb/ABKhTQ1HWw5HchA8axbe-zhBn3A0oLfNf_vW1TG8JGR46nEAtrM4qiEe4zgZqHoLbCY9hnXGQcgd77ib4t9K7eGAHJGldoCmP3fCZb0vkR2Kv8r7fZu1iOySr24nekspnHiiFH7MwT4_GI-sj8-J--Ksl3SjX--DWQle0d7NW1y8AOL1P_X1hCIkspTzImD18Ov6yXyQVHbT1FBpcES6nbU80EbzJOCXy5owG7Bs3zu5DaE9f5s8rkoM7qc4wkv6NFuHP7VU0xj6xEXhXEkKBVVcoxTj5YkXCB7xNCguEMvmmC16a7PZYh-zciY975lEaUetPsufYVaD7Bg9TgflH1CaK5Z8XZJyB6XaofJtCvXs5PkymS8wBIcmhFwQYaeN_kNKi5pCGHMWkNbkwOdqn6U1NyiKsj6JvurG1OT_RFsktGmsBnfQ4-7vet5MOcUs0X8/p.jpeg?size=2048x1536&size_mode=3', 100vw auto);
  background-position: center;
}
.aboutFiller{
  @include sass.flexCenterRelative(column-reverse);
}

@media (min-width: 700px){
  .openingLogo{
    height: 520px;
    background-size: 110vw auto;
    opacity: .8;
  }
  .filler{
    margin: 15px;
    flex-direction: row;
  }
  .whatWeDoImage{
    width: 47vw;
  }
  .homeImage{
    background-size: 50vw auto;
    border-radius: 6px;
    width: 50vw;
  }
  .whatWeDoText{
    width: 47vw;
  }
  .h3Text{
    height: auto;
    width: 50vw;
    padding: 20px;
    font-size: 20px;
  }
  .h3TextA{
    padding: 10px;
    font-size: 20px;
  }
  .allButton{
    margin: 20px;
  }
  .aboutFiller{
    margin: 15px;
  }
  .AUImage{
    height: 600px;
    background-position-y: -300px;
    background-size: 96vw auto;
  }
  .aboutUsText{
    width: 97vw;
    font-size: 25px;
  }
}
@media (min-width: 1200px){
  .openingLogo{
    height: 90vh;
    opacity: .85;
  }
  .h1{
    font-size: 50px;
  }
  .whatWeDoImage{
    height: 700px;
  }
  .homeImage{
    height: 700px;
    background-size: auto 700px;
    border-radius: 56px;
  }
  .whatWeDoTitle{
    font-size: 40px;
  }
  .h3Text{
    margin-right: 50px;
    font-size: 25px;
    background-color: sass.$grey;
  }
  .allButton{
    height: 40px;
    width: 250px;
    font-size: 21px;
  }
  .aboutUsTitle{
    font-size: 40px;
  }
  .AUImage{
    background-position-y: -500px;
  }
  .h3TextA{
    width: 96vw;
    background-color: sass.$grey;
    font-size: 25px;
  }
}
@media (min-width: 1400px){
  .aboutFiller{
    @include sass.flexCenterRelative(row);
    width: 100vw;
    justify-content: space-around;
    align-items: center;
  }
  .aboutUsText{
    width: 47vw;
    margin: 10px;
    margin-right: 30px;
  }
  .h3TextA{
    // font-size: 50px;
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 47vw;
  }
  .AUImage{
    height: 80vh;
    width: 47vw;
  }
}
// @media (min-width: 1600px){
  
//   .AUImage{
//     background-position-y: -700px;
//     width: 80vw;
//     height: 80vh;
//     margin-left: 10vw;
//     margin-right: 10vw;
//   }
// }
// @media (min-width: 1400px){
//   .AUImage{
//     background-position-y: -600px;
//   }
// }