.homePage{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 2000px;
  top: 10vh;
}
.openingLogo{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 690px;
  background-color: white;
}
.whatWeDo{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: burlywood;
}
.whatWeDoTitle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  border: solid;
}
.filler{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}
.whatWeDoImage{
  position: relative;
  display: flex;
  flex-direction: column;
}
.homeImage{
  height: 200px;
  width: auto;
  border: black 1px solid;
}
.aboutUs{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  border: solid black 1px;
}
.aboutUsTitle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  border: solid;
}
.aboutUsImage{
  width: 100vw;
  height: auto;
}
.homeImg{
  height: 300px;
}