/* Login */
@use '../sass';

.login{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 3;
}
.loginContainer{
  @include sass.flexCenterRelative(column);
  height: 350px;
  width: 310px;
  border-radius: 4px;
  box-shadow: 0px 0px 9px -4px #000000;
  background-color: sass.$orange;
}
.loginBox{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 270px;
}
.loginLogo{
  position: relative;
  display: flex;
  font-size: 30px;
}
.login-input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 240px;
}
.input{
  border: none;
  border-radius: 4px;
}
.login-buttons{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.loginButton{
  width: 180px;
  border-radius: 4px;
  border: none;
  height: 30px;
  font-size: 20px;
  background-color: white;
}
.loginButton:hover {
  background-color: #8f9dad;
  border: none;
}