/* Login */
@use '../sass';

.login{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 3;
}
.loginContainer{
  @include sass.flexCenterRelative(column);
  height: 350px;
  width: 310px;
  border-radius: 4px;
  box-shadow: 0px 0px 9px -4px #000000;
  background-color: sass.$orange;
}
.loginBox{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 270px;
}
.loginLogo{
  position: relative;
  display: flex;
  font-size: 30px;
}
.loginInputBox{
  @include sass.flexCenterRelative(column);
  justify-content: space-between;
  height: 200px;
}
.login-input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 240px;
}
.input{
  border: none;
  border-radius: 4px;
}
.login-buttons{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.loginButton{
  width: 180px;
  border-radius: 4px;
  border: none;
  height: 30px;
  font-size: 20px;
  background-color: white;
}
.loginButton:hover {
  background-color: #8f9dad;
  border: none;
}

@media (min-width: 700px){
  .loginBox{
    height:500px;
  }
  .loginButton{
    height: 50px;
    width: 200px;
    font-size: 25px;
  }
  .loginInputBox{
    height: 250px;
    width: 300px;
  }
  .login-input-box{
    width: 450px;
  }
  .input{
    width: 300px;
  }
  .link{
    font-size: 20px;
  }
  .login-buttons{
    height: 100px;
    width: 400px;
  }
}

@media (min-width: 1200px){
  
}