@use '../sass';

.registerPage{
  @include sass.flexCenterRelative(column);
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: white;
}
.rloginLogo{
  @include sass.flexCenterRelative(row);
  @include sass.title;

  margin: 10px;
}
.rlogin{
  @include sass.flexCenterRelative(column);
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 1;
}
.rloginContainer{
  @include sass.flexCenterRelative(column);
  height: 400px;
  width: 310px;
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: 0px 0px 9px -4px #000000;
  background-color: sass.$orange;
}
.registerBox{
  @include sass.flexCenterRelative(column);
  justify-content: space-around;
  height: 290px;
}
.register-input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.registerinputBox{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}
.Rinput{
  width: 150px;
  border: none;
  border-radius: 4px;
  height: 24px;
}
.register-buttons{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.registerButton{
  width: 180px;
  border-radius: 4px;
  border: none;
  height: 30px;
  font-size: 20px;
  background-color: white;
  margin: 10px;
}
.registerButton:hover {
  background-color: #8f9dad;
}
p{
  @include sass.pTexts;
  margin: 0px;
}

@media (min-width: 700px){
  .rloginContainer{
    height: 600px;
    width: 600px;
  }
  .rloginLogo{
    font-size: 40px;
  }
  .registerBox{
    height: 650px;
  }
  .register-input-box{
    width: 420px;
  }
  p{
    font-size: 25px;
  }
  .Rinput{
    width: 300px;
  }
  .registerButton{
    height: 40px;
    width: 200px;
    font-size: 25px;
  }
}

@media (min-width: 1200px){
  .rloginLogo{
    font-size: 50px;
    font-weight: 400 ;
  }
  .rloginContainer{
    height: 700px;
    width: 750px;
  }
  .registerButton{
    height: 50px;
    width: 220px;
    font-size: 30px;
  }
  p{
    font-size: 35px;
  }
}