html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS STARTING POINT */
.App{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

/* NAV */
/* header {
  height: 10.1vh;
  width: 100vw;
  position: fixed;
  background-color: #687A8F;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 1;
}
.logo {
  position: relative;
  margin-left: 10px;
}
.homeNav {
  position: absolute;
  display: flex;
  
  align-items: center;
  width: 100vw;
  
  left: 88vw;
}
.loginLink{
  margin-right: 20px;
}
.menuIcon{
  height: 30px;
  width: 30px;
  position: relative;
  right: 0px;
}
.closed{
  display: none;
}
.open {
  
  background-color: #687A8F;
  width: 100vw;
  position: fixed;
  right: -0vw;
  top: 10vh;
}
li{
  margin: 15px;
}
ul {
  position: fixed;
  font-size: 17px;
  text-align: right;
  animation-name: slide;
  animation-duration: .5s;
} */

/* Home */
/* .homePage{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 2000px;
  top: 10vh;
}
.openingLogo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 690px;
  background-color: blue;
}
.whatWeDo{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: burlywood;
}
.whatWeDoTitle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  border: solid;
}
.filler{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}
.whatWeDoImage{
  position: relative;
  display: flex;
  flex-direction: column;
}
.homeImage{
  height: 200px;
  width: auto;
  border: black 1px solid;
}
.aboutUs{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  border: solid black 1px;
}
.aboutUsTitle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  border: solid;
}
.aboutUsImage{
  width: 100vw;
  height: auto;
} */

/* Login
.login{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1;
}
.loginContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 310px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 9px -4px #000000;
  background-color: #DCC7AA;
}
.loginBox{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 270px;
}
.loginLogo{
  position: relative;
  display: flex;
  font-size: 30px;
}
.login-input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 240px;
}
.input{
  border: none;
  border-radius: 4px;
}
.login-buttons{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.loginButton{
  width: 180px;
  border-radius: 4px;
  border: none;
  height: 30px;
  font-size: 20px;
  background-color: white;
}
.loginButton:hover {
  background-color: #8f9dad;
} */

/* All Products */
/* .productsLabel{
  position: relative;
  display: flex;
  font-size: 30px;
  margin: 5px;
}
.allProduct{
  position: relative;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  top: 10vh;
  background-color: white;
}
.colorOptions{
  position: relative;
  display: flex;
  width: 90vw;
  font-size: 15px;
}
.productsImages{
  padding: 15px;
  width: 300px;
  height: auto;
}
.all-products-body{
  color: #DCC7AA;
}
.productsInfo{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: white;
}
.productsName{
  font-size: 30px;
  font-weight: 500;
}
.productsPrice{
  position: relative;
  display: flex;
  margin-bottom: 10px;
  font-size: 20px;
}
.productsDetails{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 17px;
} */

/* A Product */
/* .single-product-box{
  position: relative;
  display: flex;
  top: 10vh;
  height: 90vh;
}
.productContent{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}
.productInfo{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 25px;
  background-color: cadetblue;
}
.productImage{
  padding: 15px;
  width: 300px;
  height: auto;
}
.productDetails{
  display: flex;
  position: relative;
  margin: 15px;
}
.productPrice{
  position: relative;
  display: flex;
} */


/* Order History */
/* .orderHistory{
  position: relative;
  display: flex;
  justify-content: center;
  top: 10vh;
}
.mappedOrders{
  background-color: blue;
  height: 100px;
  width: 100vw;
} */

/* Register  */
/* .registerPage{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
} */

.link{
  text-decoration: none;
  color: black;
}
.link:hover{
  font-weight: bold;
}
